footer {
        position: relative !important;
    }

    strong {
        color: rgb(209,21,28);
    }

    h1 {
        color: rgb(209,21,28);
        margin: 10px;
        font-size: 40px;
        margin-bottom: -10px;
        text-align: center;
    }

    h2 {
        color: black;
        text-align: center;
        margin: 15px;
        margin-bottom: -23px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: lighter;
    }

    #clickHere {
        color: rgb(209,21,28);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-weight: 600;
    }

    #stories {
        text-align: center;
        padding: 20px;
        display: flex;
        margin: 10px; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
        font-size: 18px;   
        color: black;
        
    }

    td {
        padding: 20px;
        width: 50%;
    }

    #stories img {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
    }

    tr {
        display: flex;
        width: fit-content;
        align-items: center;
    }

    #companyName a {
        text-decoration: none;
        color: black;
    }

    @media (max-width: 1150px) {     
        td {
            /* display: flex; */
            text-align: center;
            margin-bottom: 20px; 
            width: 100%;
            padding: 5px;
            flex-basis: 100%;
        }

        tr {
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            align-items: center;
        }
    }