body {
    margin: 0;
    background-color:blanchedalmond;
    font-family: sans-serif;
}

.nav {
    position: sticky;
    top: 0;
    z-index: 99;
}

.navlist {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    font-size: large;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.navlist li a {
    transition-duration: 0.4s;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* Logo specific modifications */
.logo li a {
    display: block;
    float: left;
    padding: 14px 4px;
}

.logo li:first-child a img{
    width: 70px;
    height: 50px;
    background-color: transparent;
}

.logo li:first-child a {
    padding: 0;
}

.tabGroup {
    list-style-type: none;
    font-size: large;
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateY(-200%);
    transition: transform 0.5s;
    margin-top: 42px;
    margin-right: 11px;
    top: 0;
    right: 0;
    width: fit-content;
    height: auto;
    z-index: 99;
    background: black; 
    border-radius: 5%;
}


/* navigation tab specific highlighting */
.tabGroup li a{
    float: right;
    transition-duration: 0.4s;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.tabGroup li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.tabGroup li a:active {
    background-color: (255, 255, 255, 0.4);
    border-radius: 25px;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 12px;
    right: 12px;
    padding: 3px;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menuIcon {
    display: block;
}

/* Class added and removed by JS for hamburger menu */
.showMenu {
    transform: translateY(0);
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    z-index: 100;
    width: 100%;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: medium;
}

footer p a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

footer p a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}