/* * {
    font-family: Noteworthy;
} */

body {
    margin: 0;
    background-color:rgb(255, 248, 238);
    font-family: Noteworthy;
}

@font-face {
    font-family: Noteworthy;
    src: url(Noteworthy.ttf);
}

.nav {
    /* position: sticky; */
    top: 0;
    z-index: 99;
}

h1 {
    font-size: 40px;;
}

.navlist {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    background-color: rgba(152, 106, 79, 0.2);
    padding: 0;
    font-size: large;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo img{
    vertical-align: middle;
    width: 80px;
    height: 73px;
    background-color: transparent;
    padding-bottom: 3px;
    padding-top: 2px;
}


.logo span {
    float: right;
    padding-top: 15px;
}

#companyName {
    font-size: xx-large;
    font-weight: 800;
    padding: 14px 5px;
}

/* new tab group style */
.profile {
    list-style-type: none;
    font-size: large;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 40px;
    top: 0;
    right: 50px;
    width: fit-content;
    height: auto;
    z-index: 99;
    background: transparent;
    border-radius: 5%;
}

.profile li a {
    text-decoration: none;
    color: black;
    padding:  14px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile li {
    padding:  14px 16px;
    
}

.profile li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.cart {
    list-style-type: none;
    font-size: large;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    /* margin-right: 11px; */
    top: 0;
    right: 50px;
    width: fit-content;
    height: auto;
    z-index: 99;
    background: transparent;
    border-radius: 5%;
    padding-left: 0px;
}

.cart li a {
    text-decoration: none;
    padding:  14px 5px;
}

.cart li {
    padding:  14px 16px;
}

.cart li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.tabGroup {
    list-style-type: none;
    font-size: large;
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-200%); 
    transition: transform 0.5s;
    margin-top: 42px;
    margin-right: 11px;
    top: 0;
    right: 0;
    width: fit-content;
    height: auto;
    z-index: 99;
    background: white; 
    border-radius: 5%;
    opacity: 0;
}


/* navigation tab specific highlighting */
.tabGroup li a{
    float: right;
    transition-duration: 0.4s;
    /* color: black; */
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

/* Make the current page's tab red */
#current {
    /* color: rgb(209,21,28); */
    color: rgb(209,21,28);
}

.tabGroup li a:hover {
    background-color: rgba(209,21,28, 0.15);
    border-radius: 25px;
}

.tabGroup li a:active {
    background-color: (255, 255, 255, 0.4);
    border-radius: 25px;
}

/* Hamburger menu design */
.hamburger {
    position: absolute;
    z-index: 100;
    top: 23px;
    right: 12px;
    left: -10;
    padding: 3px;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.5s;
}

.showMenu {
    transform: translateY(0);
}

.closeIcon {
    display: none;
}

.menuIcon {
    display: block;
}

/* Footer Styling */
footer {
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0; 
    overflow-x: hidden; 
    z-index: 100;
    background-color: rgba(152, 106, 79, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
    font-size: 13px;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

footer ul.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    color: black;
    font-size: 13px;
    text-decoration: none;
    display: inline-block; 
    justify-content: flex-end;
    margin: 7px;
    align-items: center;
}


/* Media Queries for responsive design */
@media (max-width: 995px) {
    .CompanyName {
        font-size: 30px;
    }

    /* .hamburger {
        transform: translateY(0);
        transition: transform 0.5s;
    }

    .tabGroup li a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .tabGroup {
        list-style-type: none;
        font-size: large;
        position: fixed;
        display: flex;
        flex-direction: column;
        transform: translateY(-200%); 
        transition: transform 0.5s;
        margin-top: 42px;
        margin-right: 11px;
        top: 0;
        right: 0;
        width: fit-content;
        height: auto;
        z-index: 99;
        background: navy; 
        border-radius: 5%;
        opacity: 0;
    }

    #current {
        color: yellow;
    }

    .tabGroup li a {
        color: white;
    }

    /* Class added and removed by JS for hamburger menu */
    /* .showMenu {
        transform: translateY(0);
    //}  */
}
