.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#cartTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#cartTable th,
#cartTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#cartTable th {
    background-color: #f2f2f2;
}

.prodImgs {
    max-width: 50px;
    max-height: 50px;
}

#cartTable td {
    vertical-align: middle;
}

.totalOrderPrice {
    margin-top: 20px;
    font-size: 20px;
}

#completePurchaseButton {
    padding: 10px;
    background-color: #d1151b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#completePurchaseButton:hover {
    background-color: #a40f14;
}

.price::before {
    content: "$";
}

#companyName a {
    text-decoration: none;
    color: black;
}